<ba-sidebar></ba-sidebar>
<page-top></page-top>

<div class="al-main">
  <div class="al-content">
    <content-top></content-top>
    <div class="dinamic_content">
      <div class="row">
        <div class="col-md-12">
          <div ba-panel ba-panel-title="Editable Rows" ba-panel-class="with-scroll">
            <div include-with-scope="app/pages/tables/widgets/editableRowTable.html"></div>
          </div>
        </div>
      </div>

      <div class="holder_prog_zonas">
        <p class="tag_title">Zonas</p>
        <div class="holder_tabla_zonas">
          <table class="info_zonas">
            <tr ng-repeat="nombre in nombres">
              <td>{{nombre}}</td>
              <td><img ng-src="{{::( 'icono_calendar.png' | appImage )}}" ng-click="list_programacion(ids[$index])"></td>
              <td><img class="img-icon" ng-src="{{::( 'icon_add.png' | appImage )}}" ng-click="add_programacion(ids[$index])"></td>
            </tr> 
          </table>
        </div>
      </div>

      <button type="button" class="btn btn-primary" ng-click="pedir()"></button>
    </div>
    
  </div>
</div>

<footer class="al-footer clearfix">
  <div class="al-footer-right">Creado con <i class="ion-heart"></i> en Medellín por <a href="http://intelmotics.com/" target="_blank">Ⓒ Intelmotics.</a> 2016.</div>
</footer>